python-dotenv
groq
elevenlabs
appopener
pywhatkit
bs4
pillow
rich
requests
keyboard
cohere
googlesearch-python
selenium
mtranslate
pygame-ce
edge-tts
PyQt5
webdriver-manager
SpeechRecognition
sounddevice
numpy
scipy
pyautogui
pywin32
pytesseract
Pillow
